/* CSS Document */

/* --------- Reset --------- */


html, body {
	margin: 0px;
	padding: 0px;
	text-decoration: none;
	background-color: #303030;
	-webkit-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	}

h2, h3, h4, h5, h6, a, blockquote {
	-webkit-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	color: #fff;
	}

.wrapper-large {
	padding-top: 0px;
	padding-left: 100px;
	margin: 0px auto;

	}

.wrapper-small {
	width: 1150px;
	margin: 0px auto;
	}

.clear-35 {
	width: 100%;
	height: 35px;
	}

.clear-75 {
	width: 100%;
	height: 75px;
	}


.divider {
	width: 700px;
	height: 1px;
	background-color: #ccc;
	margin-bottom: 30px;
	}




/* -------------------------- */

#header {
	width: 100%;
	height: 86px;
	background-color: #262626 ;
	border-bottom: solid;
	border-color: #7FC9C2;

}

.home-title {
	margin: auto;
	text-align: center;
	padding-top: 80px;
	max-width: 660px;
}

p{
	font-family: 'Roboto', sans-serif;
	font-size: 50px;
	text-align: center;
	width: 100%;
	color: #fff;
	white-space:nowrap;
	overflow: hidden;
	animation: type 2s steps(30, end);

}

span{
	color: #7FC9C2;
	animation: blink 1s infinite;

}


.option{
	border-radius: 25px;
	height: 250px;
	width: 250px;
	background-color: rgba(127, 201, 194, 0.86);
}

.py-image{
	background-image: url(images/PyIcon.png);
}


@keyframes type{
	from{width:0px;}
}

@keyframes blink{
	to{opacity: .0;}
}
